<%= link_to root_path do %>
  <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
<% end %>

<h1 class='text-2xl mt-4 font-semibold'>Shopping Cart</h1>

<div class="w-full bg-white mt-6">
  
  <div class="">
      <div class="overflow-x-auto">
        <% if @cart_items.present? %>
        <%= form_with url: checkout_index_path, method: :post do |f| %>
          <table>
              <thead>
                  <tr>
                      <th class="w-10">
                          <div></div>
                      </th>
                      <th>
                          <div>Product</div>
                      </th>
                      <th>
                          <div>Price</div>
                      </th>
                      <th>
                          <div class="text-center">Quantity</div>
                      </th>
                      <th>
                          <div class="text-center">Subtotal</div>
                      </th>
                  </tr>
              </thead>
              <tbody>
                <% @cart_items.each do |item| %>
                  <tr>
                      <td>
                          <div class="flex items-center">
                              <div class="w-12 h-12 flex-shrink-0 mr-2 sm:mr-3">
                                <div>
                                <% if item.product.images.attached? %>
                                  <%= image_tag item.product.images.first, class: 'object-cover w-24 h-12 shadow-none' %>
                                <% end %>
                                </div>
                              </div>
                          </div>
                      </td>
                      <td>
                          <div class="text-left whitespace-normal max-w-xs">
                            <%= item.product.name %>
                          </div>
                      </td>
                      <td>
                          <div class="text-left font-medium price">
                            <%= item.product.price %>
                          </div>
                      </td>
                      <td>
                          <div class="text-lg text-center">
                            <input 
                              type="hidden" 
                              name="cart_items[product_id][]" 
                              value="<%= item.product.id %>" />
                            
                            <input 
                              type="number"
                              data-cart-id="<%= item.id %>" 
                              id="cart_item_<%= item.id %>" 
                              name="cart_items[quantity][]" 
                              class="quantity w-14 rounded border px-1 text-right" 
                              min="1" 
                              value="<%= item.quantity %>" />
                          </div>
                          <div class='text-center text-sm '>
                            <%= link_to 'remove', cart_path(item), 
                              :method => :delete, 
                              :data => {:confirm => 'Are you sure?'} %>
                          </div>
                      </td>
                      <td>
                        <div class="subtotals price text-center" 
                          data-subtotal="<%= item.quantity * item.product.price %>" 
                          id="cart_item_subtotal_<%= item.id %>">
                          <%= item.quantity * item.product.price %>
                        </div>
                      </td>
                  </tr>
                <% end %>
              </tbody>

              <tfoot class='price border-t'>
                <tr>
                  <th colspan="4" class='text-left p-2'>Total</th>
                  <th>
                    <div id="cart_item_total" class="text-center"><%= compute_cart_total(@cart_items) %>
                  </th>
                </tr>
              </tfoot>
              </table>
              <div class='text-right'>
              <%= f.submit 'Proceed to checkout', class: 'btn' %>
              </div>
          <% end %>
        <% end %>
          </div>
      </div>
  </div>



<%= javascript_pack_tag 'cart_update' %>
