<%= form_with model: [:admin, @customer] do |f| %>

  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% @customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class='field'>
    <%= f.submit 'Change Password' %>
  </div>

<% end %>
