<%= link_to 'Back to Dashboard', admin_dashboard_path, class: 'btn' %>
<%= link_to 'Pending Orders', admin_pending_orders_path, class: 'btn' %>

<h1>Orders</h1>
<table>
  <thead>
    <tr>
      <th> User Email </th>
      <th> Order </th>
      <th> Customer Details </th>
      <th> Delivery Details </th>
      <th> Total </th>
      <th> Status </th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.id %></td>
        <td><%= order.customer_details %></td>
        <td><%= order.delivery_details %></td>
        <td><%= order.total %></td>
        <td><%= order.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
