<%= form_with(model: [:admin, @order]) do |form| %>
  <div class="field">
    <%= form.label :customer_details %><br>
    <%= form.text_field :customer_details %><br>

    <%= form.label :delivery_details %><br>
    <%= form.text_field :delivery_details %><br>

    <%= form.label :order_status %><br>
    <%= form.select :status, ['Pending', 'Processing', 'Completed'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>