<h1>Order # <%= @order.id %></h1>

<p>Customer Details: <%= @order.customer_details %></p>
<p>Delivery Details: <%= @order.delivery_details %></p>
<p>Total: <%= @order.total %></p>
<p>Status: <%= @order.status %></p>

<%= link_to 'Go to Orders', admin_orders_path %>
<%= link_to 'Back to Customer', admin_customer_path(@order.user) %>