<%=  form_with scope: :order_line, url: admin_customer_order_order_lines_path, method: :post, locale: true do |form| %>
  <div class="field">
    <%= form.label :product_name %><br>
    <%= form.text_field :product_name %><br>

    <%= form.label :price %><br>
    <%= form.text_field :price %><br>

    <%= form.label :quantity %><br>
    <%= form.number_field :quantity %><br>

    <%= form.label :subtotal %><br>
    <%= form.text_field :subtotal %><br>

    <%= form.label :sku %><br>
    <%= form.text_field :sku %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>   