<p id="notice"><%= notice %></p>

<h1>Products</h1>
<%= link_to 'Add product', new_admin_product_path %>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>In stock</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.images.attached? %>
            <%= image_tag product.images.first.variant(resize_to_limit: [80, 80]) %>
          <% end %>
        </td>
        <td class="no-wrap">
          <%= product.name %><br>
          <small>SKU#: <%= product.sku %></small>
        </td>
        <td class="no-wrap"><%= product.price %></td>
        <td><%= product.category.name %></td>
        <td><%= product.in_stock %></td>
        <td class="no-wrap">
          <%= link_to 'Show', admin_product_path(product) %><br>
          <%= link_to 'Edit', edit_admin_product_path(product) %><br>
          <%= link_to 'Delete', admin_product_path(product), :method => :delete, 
          :data => {:confirm => 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
