<h2>Products</h2>

<%= link_to 'Add product', new_admin_product_path, class: 'btn my-4 inline-block' %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>In stock</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.images.attached? %>
            <%= image_tag product.images.first.variant(resize_to_limit: [80, 80]) %>
          <% end %>
        </td>
        <td class="no-wrap">
          <%= product.name %><br>
          <small>SKU#: <%= product.sku %></small>
        </td>
        <td class="no-wrap text-center"><%= product.price %></td>
        <td class="text-center"><%= product.category.name %></td>
        <td class="text-center">
          <% if product.in_stock %>
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
          <% else %>

          <% end %>
        </td>
        <td class="no-wrap text-center">
          <%= link_to 'Show', admin_product_path(product) %><br>
          <%= link_to 'Edit', edit_admin_product_path(product) %><br>
          <%= link_to 'Delete', admin_product_path(product), :method => :delete, 
          :data => {:confirm => 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
