<p id="notice"><%= notice %></p>

<% if @product.images.attached? %>
  <% @product.images.each do |image| %>
    <%= image_tag image.variant(resize_to_limit: [150, 150]) %>
  <% end %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>In stock:</strong>
  <%= @product.in_stock %>
</p>

