<h1>Addresses</h1>

<%= link_to "Add address", new_customer_address_path, class: 'btn'%>
<p>You have
  <%= @addresses.count %> registered 
  <%= @addresses.count <= 1 ? "address" : "addresses" %> 
</p>

<table>
  <thead>
    <tr>
      <th>House No.</th>
      <th>Street</th>
      <th>Town</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Zip Code</th>
      <th>Mobile No.</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.house_number %></td>
        <td><%= address.street %></td>
        <td><%= address.town %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.country %></td>
        <td><%= address.zip_code %></td>
        <td><%= address.mobile_number %></td>
        <td class="no-wrap text-center">
          <%= link_to 'Show', customer_address_path(address) %>
          <%= link_to 'Edit', edit_customer_address_path(address) %>
          <%= link_to 'Delete', customer_address_path(address),
                  method: :delete, data: { confirm: 'Are you sure?' } 
              %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
