<nav class='p-4 px-4 md:px-8 mb-4 flex justify-between text-gray-500 border-b'>
  <%= link_to root_path do %>
    <%= image_tag 'logo', class: 'h-12' %>
  <% end %>

  <div class='flex gap-4 justify-center items-center'>
  <% if user_signed_in? %>
    <% if current_user.customer? %>
      <div class='relative'>
        <%= link_to cart_index_path do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
        <% end %>
        
        <% if cart_count > 0 %>
          <%= link_to cart_count, cart_index_path, class: 'hover:text-white absolute bg-red-500 rounded-full 
          w-5 h-5 flex justify-center text-white -top-2 -right-3 text-sm' %>
        <% end %>
      </div>
      <%= link_to 'My Account', customer_dashboard_path %>
    <% end %>

    <% if current_user.admin? %>
      <%= link_to 'Dashboard', admin_dashboard_path %>
      <%= link_to 'Products', admin_products_path %>
      <%= link_to 'Categories', admin_categories_path %>
      <%= link_to 'Customers', admin_customers_path %>
    <% end %>

    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
  </div>
</nav>
